- const subTitle = player.name + " " + player.tag + " - Clash Royale Player Stats";

mixin statsRoyaleCol(header, value)
    .col
        p.cr-description.lead(style="font-size: 15px; color: #0440D3; margin: 1px;") #{header}
        p.price-item.lead(style="background-color: #CBD4D9; margin: 1px; padding: 10px; border-radius: 5px;") #{value}

doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/Clash Royale/stats.js", defer)
    body
        include ../Includes/navbar
        button#isLeagueStatistic(value=isLeaguePlayer, style="display: none;")
        .jumbotron.text-center.bg-transparent
            h1.display-3 Stats Tracker - Clash Royale - Profile
            p.coc-description.lead(style="font-size: 28px;") Get data from official game API's!
        .container(style="background-color: #61687B; border: 1px solid #42454B; border-radius: 7px; color: white; padding: 5px;")
            .row(style="padding: 5px;")
                h4(align="center") Player Profile
            ul.nav.nav-tabs(style="margin-left: 8px; margin-right: 8px;")
                li.nav-item.categories(type="button") 
                    a.nav-link#profile.cursor-pointer.active
                        p.lead Profile
                li.nav-item.categories(type="button") 
                    a.nav-link#cards.cursor-pointer
                        p.lead Cards
                li.nav-item.categories(type="button") 
                    a.nav-link#upcomingchests.cursor-pointer
                        p.lead Upcoming Chests
            section#profileModule.module.container
                .row(style="border-top-left-radius: 7px; border-top-right-radius: 7px; border: 1px #2D3849 solid; background: linear-gradient(#01183B, #A8CBEC); margin-right: auto; margin-left: auto; margin-bottom: 2px; padding-bottom: 30px; padding-top: 30px;")
                    .col
                        .container
                            .row 
                                .col
                                    p.lead(align="left")
                                        .flexible-inline
                                            span.lead(style="color: white; padding-top: 10px;")  #{player.name}
                                            span.cr-description(style="color: #CCCCCC; font-size: 25px; padding-top: 10px;") #{player.tag} 
                                            button.btn.bg-transparent#shareButton(type="button", value=player.tag, data-mobile-link=player.profileMobileLink, onclick="profileClick();") #[i.fas.fa-share]
                                        .flexible-inline
                                            if player.expLevel < ClashRoyale.maxLevel
                                                .xp-cr #{player.expLevel}
                                            else 
                                                .xp-cr-max #{player.expLevel}
                                            p.lead(style="color: #FFFF65; margin: 1px; background-color: #032553; padding: 10px; border-radius: 5px;") ðŸ†#{player.trophies} 
                                .col
                                    p.lead
                                        .center-image
                                            if player.leagueStatistics
                                                img(src="/Images/Clash Royale/Leagues/" + player.leagueStatistics.currentSeason.name + ".png", style="width: 130px;", title=player.leagueStatistics.currentSeason.name)
                                                p.lead(align="center", style="color: white; font-size: 15px;") #{player.leagueStatistics.name}
                                            else 
                                                img(src="/Images/Clash Royale/Arenas/" + player.arena.name + ".png", style="width: 130px;", title=player.arena.name)
                                                p.lead(align="center", style="color: white; font-size: 15px;") #{player.arena.name}
                        button.btn.row#clanProfile(style="border: 1px solid #A7DEFA; background: linear-gradient(#14386C, #2F537F 5%, #13376B 40%); margin-right: 5px; margin-left: 5px; border-radius: 5px; padding: 0; width: 100%;", value=player.clan.tag, data-mobile-link=player.clanMobileLink, onclick="clanClick();")
                            .container
                                .row(style="vertical-align: middle;")
                                    if player.clan
                                        img(src="https://cdn.statsroyale.com/images/badges/" + player.clan.badgeId + ".png", style="height: 58px; width: auto; flex: unset;")
                                    .col(align="left", style="padding: 7px;")
                                        p.lead(align="left", style="padding: 0; margin: 0; font-size: 18px; color: white;") #{player.clan ? player.clan.name : "No Clan"}
                                        p.lead.cr-description(align="left", style="color: #71BEFE; padding: 0; margin: 0; font-size: 15px;") #{player.clan ? player.role[0].toUpperCase() + player.role.slice(1).replace(/oLeader/g, "o-leader") : "Join a Clan for rewards and fun!"}
                .row(style="padding: 9px; background-image: url('/Images/Clash Royale Background.png'); margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #526686;")
                    h4(align="center") Battle Deck
                .row(style="background-color: #E3EEF2; padding-right: 5px; margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #939CA8; padding: calc(var(--bs-gutter-x)/ 2);")
                    .col(style="padding: calc(var(--bs-gutter-x)/ 2);") 
                        .container 
                            .row(style="background-color: #D0D9E0; padding: calc(var(--bs-gutter-x)/ 2); margin-bottom: 25px; border-radius: 5px;")
                                .container
                                    .row
                                        each card, i in player.currentDeck
                                            if i < 4
                                                .col.card-collection(style="padding: 0;")
                                                    a.cr-card-container(onclick="if(isMobileOrTablet()) openLink('clashroyale://card?id=" + card.id + "');")
                                                        button.btn.bg-transparent(style="padding: 0; border: 0; vertical-align: bottom;")
                                                            img.cr-card(src="/Images/Clash Royale/Cards/" + card.name + ".png", alt=card.name)
                                                            .card-level(class="cr-text-" + util.getRarityOfClashRoyaleCard(card)) Level #{util.getLevelOfClashRoyaleCard(card)}
                                    .row
                                        each card, i in player.currentDeck
                                            if i >= 4
                                                .col.card-collection(style="padding: 0;")
                                                    a.cr-card-container(onclick="if(isMobileOrTablet()) openLink('clashroyale://card?id=" + card.id + "');")
                                                        button.btn.bg-transparent(style="padding: 0; border: 0; vertical-align: bottom;")
                                                            img.cr-card(src="/Images/Clash Royale/Cards/" + card.name + ".png", alt=card.name)
                                                            .card-level(class="cr-text-" + util.getRarityOfClashRoyaleCard(card)) Level #{util.getLevelOfClashRoyaleCard(card)}
                                                    
                            .row
                                .flexible-inline 
                                    img(src="/Images/Clash of Clans/Home/Elixir.png", style="height: 40px;")
                                    span(style="padding: 11px;") Average Elixir cost: #{player.currentDeckAverageElixirCost + (player.currentDeckAverageElixirCost.toString().includes(".") ? "" : ".0")}
                                    button.btn.bg-transparent#copyDeckButton(style="width: 36px; height: 40px; background-image: url('/Images/Clash Royale/Copy.png'); background-repeat: no-repeat; background-size: cover; cursor: pointer;", data-link=player.currentDeckLink, data-mobile-link=player.currentDeckMobileLink, onclick="copyDeckLink();")
                .row(style="padding: 9px; background: linear-gradient(#2D0F82, #5D42A2); margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #526686;")
                    h4(align="center") League
                .row(style="background-color: #E3EEF2; margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #939CA8; padding: calc(var(--bs-gutter-x)/ 2);")
                    .col(style="padding: calc(var(--bs-gutter-x)/ 2);")
                        .container 
                            .row
                                .container 
                                    .row 
                                        p.cr-description.lead(align="center", style="color: #374A5E;") Current Season
                                    if player.leagueStatistics
                                        .row(style="background: linear-gradient(#354355, #5A748D); padding: 30px; border-top-left-radius: 5px; border-top-right-radius: 5px;")
                                            .container 
                                                .row 
                                                    .col
                                                        p.cr-description.price-item.lead(align="center", style="font-size: 15px;") Season Highest
                                                        p(align="center", style="background-color: #334151; margin: 1px; padding: 10px; border-radius: 5px;") ðŸ† #{player.leagueStatistics.currentSeason.bestTrophies}
                                                    .col
                                                        .center-image
                                                            img(src="/Images/Clash Royale/Leagues/" + player.leagueStatistics.currentSeason.bestName + ".png", style="height: 75px;")
                                                    .col
                                                        p.cr-description.price-item.lead(align="center", style="font-size: 15px;") Ends in
                                                        p#crSeasonTimer(align="center", style="background-color: #334151; margin: 1px; padding: 10px; border-radius: 5px;")
                                        .row(style="background-color: #C8DBEC; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: calc(var(--bs-gutter-x)/ 2); margin-bottom: 25px;")
                                            span.cr-description.lead(style="color: #374A5E; font-size: 15px;") Trophies are reset at the end of each League Season.
                                    else 
                                        .row(style="background-color: #37485C; padding: 30px; border-radius: 5px;")
                                            p(align="center", style="font-size: 30px;") ðŸ†
                                            p.cr-description.price-item.lead(align="center", style="font-size: 15px;") Reach 5000+ Trophies and get Season Rewards!
                            if player.leagueStatistics 
                                .row
                                    .container
                                        .row
                                            .col(style="background: linear-gradient(#2D0E83, #593EA6 50%, #CAD8F1 51%, #C9DAEC); border-radius: 5px; margin-right: 8px; padding: 12px;")
                                                p.cr-description.price-item.lead(align="center", style="font-size: 12px; margin: 0;") Previous Season
                                                .center-image
                                                    img(src="/Images/Clash Royale/Leagues/" + player.leagueStatistics.previousSeason.name + ".png", style="height: 80px; margin: 20px;")
                                                p.price-item.lead(align="center") ðŸ† #{player.leagueStatistics.previousSeason.bestTrophies}
                                            .col(style="background: linear-gradient(#2D0E83, #593EA6 50%, #CAD8F1 51%, #C9DAEC); border-radius: 5px; margin-left: 8px; padding: 12px;")
                                                p.cr-description.price-item.lead(align="center", style="font-size: 12px; margin: 0;") Best Season
                                                .center-image
                                                    img(src="/Images/Clash Royale/Leagues/" + player.leagueStatistics.bestSeason.name + ".png", style="height: 80px; margin: 20px;")
                                                p.price-item.lead(align="center") ðŸ† #{player.leagueStatistics.bestSeason.trophies}
                .row(style="padding: 9px; background-image: url('/Images/Clash Royale Background.png'); margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #526686;")
                    h4(align="center") Stats Royale
                .row(style="border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; background-color: #E3EEF2; margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #939CA8; padding: calc(var(--bs-gutter-x)/ 2);")
                    .container(style="padding: 0;")
                        .row(style="margin-bottom: 20px;")
                            +statsRoyaleCol("Wins", player.wins)
                            +statsRoyaleCol("Losses", player.losses)
                        .row(style="margin-bottom: 20px;")
                            +statsRoyaleCol("Three Crown Wins", player.threeCrownWins)
                            +statsRoyaleCol("Matches Played", player.battleCount)
                        .row(style="margin-bottom: 20px;")
                            +statsRoyaleCol("Highest Trophies", player.bestTrophies)
                            +statsRoyaleCol("Cards Found", `${player.cards.length}/${ClashRoyale.cardAmount}`)
                        .row(style="margin-bottom: 20px;")
                            +statsRoyaleCol("Total Donations", player.totalDonations)
                            +statsRoyaleCol("Current Favorite Card", player.currentFavouriteCard ? player.currentFavouriteCard.name : "-")
                        - const accountCreatedBadge = player.badges.find(badge => badge.name.toLowerCase() == "played1year");
                        if accountCreatedBadge
                            - const days = accountCreatedBadge.progress;
                            .row(style="margin-bottom: 20px;")
                                +statsRoyaleCol("Account Created", `${new Date(Date.now() - (days * 86400000)).toLocaleDateString(undefined, { month: "long", weekday: "long", day: "numeric", year: "numeric" })} (${util.shortener(util.convertMilliseconds(days * 86400000, true))} ago)`)
                    .container(style="margin-bottom: 50px;")
                        .row(style="background: linear-gradient(#311089, #583DAA); border-top-left-radius: 5px; border-top-right-radius: 5px;")
                            .col(style="padding: 9px;")
                                .center-image
                                    img(src="/Images/Clash Royale/Clan Wars.png", style="height: 75px;")
                                h4.price-item(align="center") Clan Wars Veteran
                        .row(style="background-color: #C9DCEB; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 18px;")
                            .col 
                                p.cr-description.lead(style="font-size: 15px; color: #6539DC; margin: 1px;") War Day Wins
                                p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.warDayWins}
                            .col 
                                p.cr-description.lead(style="font-size: 15px; color: #6539DC; margin: 1px;") Clan Cards Collected
                                p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.clanCardsCollected}
                    .container(style="margin-bottom: 50px;")
                        .row
                            .col(style="margin-right: 8px;")
                                .row(style="background: linear-gradient(#1541A5, #2E6BB4); border-top-left-radius: 5px; border-top-right-radius: 5px;")
                                    .col(style="padding: 9px;")
                                        .center-image
                                            img(src="/Images/Clash Royale/Challenge.png", style="height: 75px;")
                                        h4.price-item(align="center") Challenge Stats
                                .row(style="background-color: #C9DCEB; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 18px;")
                                    .col 
                                        p.cr-description.lead(style="font-size: 15px; color: #0540D2; margin: 1px;") Max Wins
                                        p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.challengeMaxWins}
                                    .col 
                                        p.cr-description.lead(style="font-size: 15px; color: #0540D2; margin: 1px;") Cards Won
                                        p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.challengeCardsWon}
                            .col(style="margin-left: 8px;")
                                .row(style="background: linear-gradient(#1541A5, #2E6BB4); border-top-left-radius: 5px; border-top-right-radius: 5px;")
                                    .col(style="padding: 9px;")
                                        .center-image
                                            img(src="/Images/Clash Royale/Tournament.png", style="height: 75px;")
                                        h4.price-item(align="center") Tournament Stats
                                .row(style="background-color: #C9DCEB; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 18px;")
                                    .col 
                                        p.cr-description.lead(style="font-size: 15px; color: #0540D2; margin: 1px;") Matches Played
                                        p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.tournamentBattleCount}
                                    .col 
                                        p.cr-description.lead(style="font-size: 15px; color: #0540D2; margin: 1px;") Cards Won
                                        p.price-item.lead(style="background-color: #B3C5D3; margin: 1px; padding: 10px; border-radius: 5px;") #{player.tournamentCardsWon}

            section#cardsModule.module.container
                div(style="padding: 9px; background-image: url('/Images/Clash Royale Background.png'); margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #526686; border-radius: 7px;")
                    h4 Card Collection 
                    p.lead(style="color: #FC99FC") Found: #{player.cards.length}/#{ClashRoyale.cardAmount}
                    div(style="display: grid; grid-template-columns: repeat(4, 1fr);")
                        each card in player.cards
                            .card-collection(data-id=card.name.toLowerCase(), rarity=util.getRarityOfClashRoyaleCard(card))
                                a.cr-card-container(onclick="if(isMobileOrTablet()) openLink('clashroyale://card?id=" + card.id + "');")
                                    button.btn.bg-transparent(style="padding: 0; border: 0; vertical-align: bottom;")
                                        img.cr-card(src="/Images/Clash Royale/Cards/" + card.name + ".png", alt=card.name)
                                        .card-level(class="cr-text-" + util.getRarityOfClashRoyaleCard(card)) Level #{util.getLevelOfClashRoyaleCard(card)}
                                        
            section#upcomingchestsModule.module.container
                .container(style="padding: 9px; background-image: url('/Images/Clash Royale Background.png'); margin-left: auto; margin-right: auto; margin-bottom: 2px; border: 1px solid #526686; border-radius: 7px;")
                    h4 Upcoming Chests
                    .row
                        each chest in chests
                            if chest.index == 0
                                .col
                                    img(src="/Images/Clash Royale/Chests/" + chest.name + ".png", title=chest.name + " (Next)", style="height: 58px;")
                            else
                                .col
                                    img(src="/Images/Clash Royale/Chests/" + chest.name + ".png", title=chest.name + " (+" + chest.index + ")", style="height: 58px;")
        include ../Includes/footer

style.
    li.nav-item.categories {
        background-color: #657d96;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        height: 55px;
        border: 1px solid #819FB8;
    }
    a.nav-link.cursor-pointer.active {
        color: #E8E8E0;
        border: 1px #FFFFFE solid;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        background: linear-gradient(#F2F6F9, #E3ECF1 50%);
    }
    a.nav-link.cursor-pointer {
        border: none;
    }