- const subTitle = "Clash of Clans - Army Maker";

doctype
html(lang='en')
    head
        include ../Includes/header
        style.
            .unit-container {
                margin: 0 10px 10px 0;
                width: 65px;
            }
        script(src="/JS/Clash of Clans/Tools/cocArmy.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 #{subTitle}
            p.coc-description.lead(style="font-size: 28px;") Create an army and share it with your friends!
            .container(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614; padding: 12px;")
                - const troopIDs = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 24, 59, 53, 65];
                - const darkTroopIDs = [10, 11, 12, 13, 15, 17, 22, 58, 82]
                - const spellIDs = [0, 1, 2, 3, 5, 16, 35, 9, 10, 11, 17, 28];
                - const siegeMachineIDs = [51, 52, 62, 75, 87];
                - const superTroopIDs = [26, 27, 29, 55, 28, 57, 83, 63];
                - const darkSuperTroopIDs = [84, 64, 66, 76, 80];

                - const troopSpace = [1, 1, 5, 1, 2, 5, 4, 14, 20, 25, 10, 6, 30, 18, 25];
                - const darkTroopSpace = [2, 5, 8, 30, 12, 30, 6, 15, 6];
                - const spellSpace = [1, 2, 2, 2, 1, 3, 1, 1, 1, 1, 1, 1];
                - const superTroopSpace = [5, 12, 10, 3, 8, 8, 10, 15];
                - const darkSuperTroopSpace = [12, 20, 40, 40, 30];
                .row 
                    h4(align="left") Troops
                .row 
                    each troop, i in homeTroopsArray
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Troops/" + troop + ".png'); margin: 0;", title=troop)
                            input.coc-description.form-control.army-click.troops(type="number", value=0, min=0, max=(Math.floor(300 / troopSpace[i])), id=troop.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=troopIDs[i], data-space=troopSpace[i], data-prefix="u")
                .row
                    each troop, i in homeSuperTroopsArray 
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Troops/" + troop + ".png');", title=troop)
                            input.coc-description.form-control.army-click.dark-troops(type="number", value=0, min=0, max=(Math.floor(300 / superTroopSpace[i])), id=troop.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=superTroopIDs[i], data-space=superTroopSpace[i], data-prefix="u")
                .row 
                    each troop, i in homeDarkTroopsArray
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Troops/" + troop + ".png');", title=troop)
                            input.coc-description.form-control.army-click.dark-troops(type="number", value=0, min=0, max=(Math.floor(300 / darkTroopSpace[i])), id=troop.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=darkTroopIDs[i], data-space=darkTroopSpace[i], data-prefix="u")
                .row
                    each troop, i in homeDarkSuperTroopsArray 
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Troops/" + troop + ".png');", title=troop)
                            input.coc-description.form-control.army-click.dark-troops(type="number", value=0, min=0, max=(Math.floor(300 / darkSuperTroopSpace[i])), id=troop.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=darkSuperTroopIDs[i], data-space=darkSuperTroopSpace[i], data-prefix="u")
                .row 
                    h4(align="left") Spells
                .row 
                    each spell, i in homeSpellsArray
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Spells/" + spell + ".png');", title=spell)
                            input.coc-description.form-control.army-click.spells(type="number", value=0, min=0, max=(Math.floor(11 / spellSpace[i])), id=spell.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=spellIDs[i], data-space=spellSpace[i], data-prefix="s")
                .row 
                    h4(align="left") Siege Machines
                .row
                    each siegeMachine, i in homeSiegeMachinesArray
                        .unit-container
                            .unit-icon(style="background-image: url('/Images/Clash of Clans/Home/Siege Machines/" + siegeMachine + ".png');", title=siegeMachine)
                            input.coc-description.form-control.army-click.siege-machines(type="number", value=0, min=0, max=1, id=siegeMachine.replace(/ /g, "").replace(/-/g, "").replace(/'/g, ""), style="width: 65px; margin: 0;", data-id=siegeMachineIDs[i], data-prefix="u")
                .row
                    .input-group
                        input#armySpace.coc-description.lead.form-control(type="text", value="Troop Housing Space: 0", disabled)
                        input#spellSpace.coc-description.lead.form-control(type="text", value="Spell Housing Space: 0", disabled)
                    .input-group    
                        span.input-group-text.price-item 📎
                        input#armyLink.coc-description.lead.form-control(type="text", placeholder="Create an army to see the link", disabled)
                        button.btn.btn-success.coc-description.lead#copyLink Copy
                        a#openApp.btn.btn-success.coc-description.lead Open Clash of Clans directly
        include ../Includes/footer