.row
    .col(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697;")
        p.lead(align="center")
            .xp #{player.expLevel}
            .flexible-inline
                span.lead(style="color: white; padding-top: 10px;")  #{player.name}
                span.coc-description(style="color: #CCCCCC; font-size: 25px; padding-top: 10px;") #{player.tag} 
                button.btn.bg-transparent(type="button", id="shareButton", value=player.tag) #[i.fas.fa-share]
        if player.labels 
            for label of player.labels
                img(title=label.name, src=label.iconUrls.small)
    .col(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697;")
        if village == "home"
            if player.league
                p.lead 
                    img(src=player.league.iconUrls.medium, style="max-width: 64px;", title=player.league.name)
                    span.lead(align="center", style="color: white;") #{player.league.name}
                    span.lead(style="color: white;") 🏆#{player.trophies}
            else 
                p.lead 
                    img(src="/Images/Clash of Clans/Home/no-league.png", style="max-width: 64px;", title="Unranked")
                    span.lead(align="center", style="color: white;") Unranked
                    span.lead(style="color: white;") 🏆#{player.trophies}
            .row 
                .col(style="background-color: #38385C; border-radius: 7px; border: 4px solid #555D7F; padding: 10px;")
                    p.coc-description.lead(style="color: white; font-size: 25px;") All time best: 
                    p.lead(style="color: white;") 🏆#{player.bestTrophies}
                .col(style="background-color: #38385C; border-radius: 7px; border: 4px solid #555D7F; padding: 10px;")
                    p.coc-description.lead(style="color: white; font-size: 25px;") War Stars Won: 
                    p.lead(style="color: white;") ⭐#{player.warStars}
        else if village == "builder"
            p.lead 
                img(src="/Images/Clash of Clans/Builder/Builder League.png", style="max-width: 64px;")
                span.lead(style="color: white;") 🏆#{player.versusTrophies}
            .row 
                .col(style="background-color: #38385C; border-radius: 7px; border: 4px solid #555D7F; padding: 10px;")
                    p.coc-description.lead(style="color: white; font-size: 25px;") All time best: 
                    p.lead(style="color: white;") 🏆#{player.bestVersusTrophies}
.row
    .col(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697;")
        if village == "home"
            if player.townHallLevel < 12
                .center-image 
                    img(src="/Images/Clash of Clans/Home/Town Hall/" + player.townHallLevel + ".png", style="max-width: 128px;", title="Town Hall (Level " + player.townHallLevel + ")")
                p.lead(style="color: white;", align="center") Town Hall (Level #{player.townHallLevel})
            else 
                if player.townHallLevel == 12
                    .center-image
                        img(src="/Images/Clash of Clans/Home/Defenses/Giga Tesla/" + player.townHallWeaponLevel + ".png", style="max-width: 128px;", title="Town Hall (Level " + player.townHallLevel + ")")
                    p.lead(style="color: white;", align="center") Town Hall (Level #{player.townHallLevel}) ⭐#{player.townHallWeaponLevel}
                else if player.townHallLevel == 13
                    .center-image
                        img(src="/Images/Clash of Clans/Home/Defenses/Giga Inferno 1/" + player.townHallWeaponLevel + ".png", style="max-width: 128px;", title="Town Hall (Level " + player.townHallLevel + ")")
                    p.lead(style="color: white;", align="center") Town Hall (Level #{player.townHallLevel}) ⭐#{player.townHallWeaponLevel}
                else if player.townHallLevel == 14
                    .center-image
                        img(src="/Images/Clash of Clans/Home/Defenses/Giga Inferno 2/" + player.townHallWeaponLevel + ".png", style="max-width: 128px;", title="Town Hall (Level " + player.townHallLevel + ")")
                    p.lead(style="color: white;", align="center") Town Hall (Level #{player.townHallLevel}) ⭐#{player.townHallWeaponLevel}
        else if village == "builder"
            .center-image
                img(src="/Images/Clash of Clans/Builder/Builder Hall/" + player.builderHallLevel + ".png", style="max-width: 128px;", title="Builder Hall (Lv. " + player.builderHallLevel + ")")
            p.lead(style="color: white;", align="center") Builder Hall (Lv. #{player.builderHallLevel})
    .col(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697;")
        if player.clan
            .center-image
                img(src=player.clan.badgeUrls.medium, title=player.clan.name)
            .flexible-inline
                span.lead(style="color: white; padding-top: 10px;")  #{player.clan.name}
                span.coc-description(style="color: #CCCCCC; font-size: 25px; padding-top: 10px;") #{player.clan.tag}
            p.coc-description.lead(style="color: white; font-size: 25px;", align="center") #{player.role.replace(/coLeader/g, "Co-leader").replace(/leader/g, "Leader").replace(/admin/g, "Elder").replace(/member/g, "Member")}
        else 
            .center-image
                img(src="/Images/Clash of Clans/Home/no-clan.png", title="No Clan")
            p.lead(align="center")
                span.lead(style="color: white;") No Clan
.row.mb-3
    if village == "home" 
        .col(style="background-color: #4D4C78; border-radius: 7px; border: 4px solid #7763A0; padding: 10px;")
            p.coc-description.lead(style="color: white; font-size: 25px;") Troops donated: 
                p.coc-description.lead(style="color: white; font-size: 20px;") #{player.donations}
        .col(style="background-color: #4D4C78; border-radius: 7px; border: 4px solid #7763A0; padding: 10px;")
            p.coc-description.lead(style="color: white; font-size: 25px;") Troops received: 
                p.coc-description.lead(style="color: white; font-size: 20px;") #{player.donationsReceived}
        if player.league
            .col(style="background-color: #4D4C78; border-radius: 7px; border: 4px solid #7763A0; padding: 10px;") 
                p.coc-description.lead(style="color: white; font-size: 25px;") Attacks Won: 
                    p.coc-description.lead(style="color: white; font-size: 20px;") #{player.attackWins}
            .col(style="background-color: #4D4C78; border-radius: 7px; border: 4px solid #7763A0; padding: 10px;")
                p.coc-description.lead(style="color: white; font-size: 25px;") Defenses Won: 
                    p.coc-description.lead(style="color: white; font-size: 20px;") #{player.defenseWins}
    else if village == "builder"
        .col(style="background-color: #4E4C78; border-radius: 7px; border: 4px solid #1F1F32;")
            p.coc-description.lead(style="color: white; font-size: 25px;") Versus Battle Wins: 
                p.coc-description.lead(style="color: white; font-size: 20px;") #{player.versusBattleWins}
script.
    document.getElementById("shareButton").onclick = function() {
        /* Get the text */
        const copyText = document.getElementById("shareButton").value;

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText);

        /* Alert the copied text */
        alert("Copied the text: " + copyText);
    };