- const subTitle = "Home";

doctype
html(lang='en')
    head
        include Includes/header
        script(src="/JS/home.js", defer)
    body
        include Includes/navbar
        .jumbotron.text-center.bg-transparent
            #image
            h1.display-3 NightClash
            p.coc-description.lead(style="font-size: 28px;") NightClash is a community upgrade and stats tracker!
            .container(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614; padding: 12px; margin-top: 30px; margin-bottom: 30px;")
                #carouselInterval.carousel.slide(data-bs-ride='carousel')
                    .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                            img.d-block.w-100(src='...', alt='...')
                        .carousel-item(data-bs-interval='2000')
                            img.d-block.w-100(src='...', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='...', alt='...')
                    button.carousel-control-prev(type='button', data-bs-target='#carouselInterval', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button', data-bs-target='#carouselInterval', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                h1 Clash of Clans
                .container(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697; padding: 50px;")
                    .row 
                        .col
                            h3#cwlTitle CWL
                            p.coc-description#cwlDate(style="font-size: 20px;")
                            p#cwl
                        .col 
                            h3#clanGamesTitle Clan Games
                            p.coc-description#clanGamesDate(style="font-size: 20px;")
                            p#clanGames
                        .col 
                            h3#cocLeagueResetTitle League Season
                            p.coc-description#cocLeagueResetDate(style="font-size: 20px;")
                            p#cocLeagueReset
                        .col
                            h3#cocSeasonEndTitle Season Pass
                            p.coc-description#cocSeasonEndDate(style="font-size: 20px;")
                            p#cocSeasonEnd
                h1.bs Brawl Stars
                .container(style="background-color: #0F3CBB; border-radius: 7px; border: 1px solid #0E309E; padding: 50px;")
                    .row 
                        .col 
                            h3.bs#bsLeagueResetTitle Trophy League
                            p.bs#bsLeagueResetDate
                            p.bs#bsLeagueReset
                        .col 
                            h3.bs#bsSeasonEndTitle Brawl Pass
                            p.bs#bsSeasonEndDate
                            p.bs#bsSeasonEnd
                        .col 
                            h3.bs#powerLeagueTitle Power League
                            p.bs#powerLeagueDate
                            p.bs#powerLeague
                    .row(style="justify-content: center;")
                        - function shortener(text) { const textArray = text.split(" "); for (const t of textArray) if (t.includes("s") && t.includes(".")) textArray.splice(textArray.indexOf(t), 1, `${t.split(".")[0]}s`); return textArray.slice(0, 2).join(" "); };
                        each item in maps
                            .map
                                .timer.bs(data-end-time=item.endTime) New Event in: #{shortener(convertTime(item.endTime - Date.now(), true))}
                                .description.bs(class=`${item.event.mode == "Showdown+" ? "showdown-plus" : item.event.mode.toLowerCase().replace(/ /g, "-")}`)
                                    img(src=`/Images/Brawl Stars/Mode/${item.event.mode.toLowerCase().includes("showdown") ? "Showdown" : item.event.mode}.png`)
                                    .titles 
                                        .game-mode #{item.event.mode}
                                        .map-name #{item.event.map}
                                .background-image(style="background-image: url('https://cdn.brawlify.com/environment/Brawlball.png');")
                h1 Clash Royale
                .container(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697; padding: 50px;")
                    .row 
                        .col 
                            h3#crLeagueResetTitle League Season
                            p.cr-description#crLeagueResetDate
                            p#crLeagueReset
                        .col
                            h3#crSeasonEndTitle Pass Royale
                            p.cr-description#crSeasonEndDate
                            p#crSeasonEnd 
                h1.bb Boom Beach 
                .container(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 7px; border: 4px solid #697697; padding: 50px;")
                    .row 
                        .col 
                            h3.bb#tribeBoostTitle Tribe Boosts
                            p.bb#tribeBoostDate
                            p.bb#tribeBoost
                        .col 
                            h3.bb#bbSeasonEndTitle Warship Season 
                            p.bb#bbSeasonEndDate 
                            p.bb#bbSeasonEnd
                        .col 
                            h3.bb#megaCrabTitle Mega Crab 
                            p.bb#megaCrabDate 
                            p.bb#megaCrab
        include Includes/footer