- const subTitle = player.name + " " + (village == "home" ? "Home Village" : "Builder Base") + " " + "Overview";
- const upgradeTracker = "Clash of Clans";

doctype
html(lang='en')
    head
        include ../../Includes/header
        audio#backgroundMusic(src="/Audio/" + (village == "home" ? "Home Village" : "Builder Base") + ".mp3", loop)
        audio#startBuilderUpgrade(src="/Audio/startBuilderUpgrade.mp3")
        audio#startLaboratoryUpgrade(src="/Audio/startLaboratoryUpgrade.mp3")
        audio#builderUpgradeDone(src="/Audio/builderUpgradeDone.mp3")
        audio#heroAndTroopUpgradeDone(src="/Audio/heroAndTroopUpgradeDone.mp3")
        audio#startHeroUpgrade(src="/Audio/startHeroUpgrade.mp3")
        script(src="/JS/Clash of Clans/Upgrade/mainIndex.js", defer)
        link(rel="stylesheet", href="/CSS/upgrade-tracker.css")
        script(src="https://visjs.github.io/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js")
        link(href="https://visjs.github.io/vis-timeline/styles/vis-timeline-graph2d.min.css", rel="stylesheet", type="text/css")
    body
        include ../../Includes/navbar
        include ../../Includes/upgradeTracker
        - const homeORBuilderBuilder = database[village == "home" ? "homeVillageBuilder" : "builderBaseBuilder"];
        - const homeORBuilderLab = database[(village + "Lab")];
        button#update(style="display: none;", value=`${homeORBuilderBuilder && homeORBuilderBuilder.length >= 1 ? true : (homeORBuilderLab && homeORBuilderLab.length >= 1 ? true : false)}`)
        if player.townHallLevel >= 7
            form#seasonBoostForm(method="POST", action="/upgrade-tracker/clashofclans/seasonBoosts")
                .modal.fade#seasonBoostModal(tabindex="-1", aria-labelledby="seasonBoostModalTitle", aria-model="true", role="dialog")
                    .modal-dialog.modal-dialog-centered 
                        .modal-content 
                            .modal-header 
                                h5.modal-title Season Boosts
                                button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                            .modal-body 
                                p.coc-description(align="center", style="font-size: 20px;") Set season boosts by selecting the percentage for each category
                                .container 
                                    .row 
                                        each item in ["Builder", "Research"]
                                            .col(style="border: 1px solid #281303; border-radius: 5px; background: linear-gradient(#C5792B, #FAC40D);")
                                                .center-image
                                                    img(src="/Images/Clash of Clans/Season Boost " + item + ".png", style="height: 70px;")
                                                div.price-item(align="center") #{item} Boost
                                                select.coc-description.form-select(name=`${item.toLowerCase()}SeasonBoost`, style="font-size: 20px;")
                                                    each i in [0, 10, 15, 20]
                                                        if database[item.toLowerCase() + "SeasonBoost"] == i 
                                                            option.coc-description.no-shadow(selected="selected", value=i, style="font-size: 20px;") #{i}%
                                                        else
                                                            option.coc-description.no-shadow(value=i, style="font-size: 20px;") #{i}%
                            .modal-footer 
                                button.btn.btn-primary(type="button", data-bs-dismiss="modal", aria-label="Close") Back
                                button.btn.btn-success(type="submit", name="info", value=`{ "playerTag": "${player.tag}", "village": "${village}" }`) Update
            .modal.fade#boostModal(tabindex="-1", aria-labelledby="seasonBoostModalTitle", aria-model="true", role="dialog")
                .modal-dialog.modal-dialog-centered 
                    .modal-content 
                        .modal-header
                            h5.modal-title#boostModalTitle(align="center")
                            button.btn-danger.btn-close#closeBoostModal(type="button", data-bs-dismiss="modal", aria-label="Close")
                        .modal-body 
                            p.coc-description#boostModalDescription(align="center", style="font-size: 19px;")
                            p.coc-description#additionalBoostModalDescription(align="center", style="font-size: 19px;")
                            table.table.table-striped.table-hover#boostModalTable
                                thead
                                    tr 
                                        th.align-middle(scope="col")  
                                            div(align="middle") Name
                                        th.align-middle(scope="col")  
                                            div(align="middle") Duration
                                        th.align-middle(scope="col")  
                                            div(align="middle") New Duration
                                tbody.coc-description#boostModalTableBody(style="font-size: 19px;")
                        .modal-footer(style="justify-content: center;")
                            div.coc-description#boostModalAmountShow(style="font-size: 19px;") Amount:
                            input.form-control#boostModalAmountInput(type="number", min=1, max=99)
                            button.btn.btn-primary#applyBoostButton(type="button")
                                .flexible-inline(style="align-items: center;")
                                    div(style="padding-right: 40px;")
                                    div#boostModalAmount 1
                                    img#boostModalImage(style="height: 50px;", align="right")
            button.btn.btn-primary#boostModalButton(type="button", data-bs-toggle="modal", data-bs-target="#boostModal", style="display: none;")
        button#builderHallLevel(style="display: none;", value=player.builderHallLevel)
        button#townHallLevel(style="display: none;", value=player.townHallLevel)
        .container(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614; padding: 12px; margin-top: 30px; margin-bottom: 30px;")
            .row
                ul.nav.nav-tabs#scrollBar(style="margin-right: 4px; margin-left: 4px;")
                    li.nav-item.categories(type="button") 
                        a.nav-link#overview.cursor-pointer
                            p.coc-description.lead Overview
                    li.nav-item.categories(type="button")
                        a.nav-link#defenses.cursor-pointer
                            p.coc-description.lead Defenses
                    if (village == "home" && player.townHallLevel >= 3) || (village == "builder" && player.builderHallLevel >= 2)
                        li.nav-item.categories(type="button")
                            a.nav-link#traps.cursor-pointer
                                p.coc-description.lead Traps
                    li.nav-item.categories(type="button") 
                        a.nav-link#resources.cursor-pointer
                            p.coc-description.lead Resources
                    li.nav-item.categories(type="button") 
                        a.nav-link#walls.cursor-pointer
                            p.coc-description.lead Walls
                    li.nav-item.categories(type="button") 
                        a.nav-link#army.cursor-pointer
                            p.coc-description.lead Army 
                    if (village == "home" && player.townHallLevel >= 3) || (village == "builder")
                        li.nav-item.categories(type="button") 
                            a.nav-link#troops.cursor-pointer
                                p.coc-description.lead Troops
                        if village == "home" && player.townHallLevel >= 7
                            li.nav-item.categories(type="button")
                                a.nav-link#darktroops.cursor-pointer
                                    p.coc-description.lead Dark Troops
                        if village == "home" && player.townHallLevel >= 5
                            li.nav-item.categories(type="button") 
                                a.nav-link#spells.cursor-pointer
                                    p.coc-description.lead Spells
                        if village == "home" && player.townHallLevel >= 12
                            li.nav-item.categories(type="button") 
                                a.nav-link#siegemachines.cursor-pointer
                                    p.coc-description.lead Siege Machines
                    if (village == "home" && player.townHallLevel >= 7) || (village == "builder" && player.builderHallLevel >= 5)
                        li.nav-item.categories(type="button") 
                            a.nav-link#heroes.cursor-pointer 
                                p.coc-description.lead #{village == "home" && player.townHallLevel >= 9 ? "Heroes" : "Hero"}
                    if village == "home" && player.townHallLevel >= 14
                        li.nav-item.categories(type="button") 
                            a.nav-link#pets.cursor-pointer
                                p.coc-description.lead Pets
                    li.nav-item.categories(type="button") 
                        a.nav-link#builder.cursor-pointer
                            p.coc-description.lead Builder
                    if (village == "home" && player.townHallLevel >= 3) || (village == "builder")
                        li.nav-item.categories(type="button")
                            a.nav-link#laboratory.cursor-pointer
                                p.coc-description.lead Laboratory
                    if village == "home" && player.townHallLevel >= 14
                        li.nav-item.categories(type="button")
                            a.nav-link#pethouse.cursor-pointer
                                p.coc-description.lead Pet House
                    li.nav-item.categories(type="button") 
                        a.nav-link#stats.cursor-pointer
                            p.coc-description.lead Stats
            .container(style="background-color: #FFFFFE; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; padding: 12px;")
                .container
                    .row
                        include ../../Includes/profile
                    .row 
                        .col
                        if (village == "home") || (village == "builder" && player.builderHallLevel >= 4)
                            .col
                                if village == "home"
                                    each item in ["Builder", "Research"]
                                        if (item == "Research" && database.homeVillage["Laboratory1"]) || item != "Research"
                                            button.btn(type="button", style="background-image: url('/Images/Clash of Clans/Magic Items/" + item + " Potion Button.png'); width: 120px; height: 120px; background-size: 120px;" onclick="open" + item + "PotionModal('" + player.tag + "');")
                                else 
                                    button.btn(type="button", style="background-image: url('/Images/Clash of Clans/Magic Items/Clock Tower Boost.png'); width: 120px; height: 120px; background-size: 120px;", onclick="openClockTowerBoostModal('" + player.tag + "', true);")
                                    button.btn(type="button", style="background-image: url('/Images/Clash of Clans/Magic Items/Clock Tower Potion Button.png'); width: 120px; height: 120px; background-size: 120px;", onclick="openClockTowerBoostModal('" + player.tag + "');")
                    .row
                        .col
                        .col
                            form(method="POST", action="/upgrade-tracker/clashofclans/apiUpdate")
                                button.btn.btn-success(type="submit", name="playerTag", value=player.tag) #[i.fas.fa-sync-alt] API Update 
                                input(style="display: none;", name="village", value=village)
                            form(method="POST", action="/upgrade-tracker/clashofclans/redirectToOtherVillage")
                                button.btn.btn-primary#village(type="submit", value=village, name="village") Switch to #{village == "home" ? "Builder Base" : "Home Village"}
                                input#playerTag(style="display: none;", name="playerTag", value=player.tag)
                            form(method="POST", action="/upgrade-tracker/clashofclans/" + village + "/new")
                                button.btn.btn-danger(type="submit") Edit #{village[0].toUpperCase() + village.slice(1)} Structures
                    if player.townHallLevel >= 7
                        .row
                            each item in ["Builder", "Research"]
                                .col(style="border: 1px solid #281303; border-radius: 5px; background: linear-gradient(#C5792B, #FAC40D);")
                                    .center-image
                                        img(src="/Images/Clash of Clans/Season Boost " + item + ".png", style="height: 80px;")
                                    h5.price-item(align="center") #{item} Boost
                                    h1.price-item.coc-description(align="center", style="font-size") #{database[item.toLowerCase() + "SeasonBoost"]}%
                        .row 
                            button.btn.btn-primary#seasonBoostModalButton(type="button", data-bs-toggle="modal", data-bs-target="#seasonBoostModal", style="border: 1px solid #281303; border-radius: 5px;") Set Season Boosts
            #modules
                include ../../Includes/modules
        include ../../Includes/footer